.features {
  padding: 50px 20px 28px;
}

.features__list {
  @include list-reset;
  text-transform: none;
}

.features__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;
  padding-top: 66px;
}

.features__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 32px;
}

.features__item {
  position: relative;

  &::before {
    background-repeat: no-repeat;
    content: "";
    background-position: center;
    background-size: 52px 56px;
    display: block;
    width: 50px;
    height: 56px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.features__item--speed::before {
  background-image: url("../../images/icons/stack.svg#icon-speed");
}

.features__item--comfort::before {
  background-image: url("../../images/icons/stack.svg#icon-comfort");
}

.features__item--fresh::before {
  background-image: url("../../images/icons/stack.svg#icon-fresh");
}

.features__item--eco::before {
  background-image: url("../../images/icons/stack.svg#icon-eco");
}
