.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
  text-transform: none;
  text-align: left;
}

.form__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  @include list-reset;
}

.form__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.form__button {
  background-color: $base-color;
  color: $white-color;
  padding: 8px 20px;
  display: block;
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }

  &:disabled {
    background-color: #bdbdbd;
  }
}

.form__button--reset {
  background-color: $white-color;
  color: $base-color;
  margin-top: 20px;

  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $white-color;
  }

  &:active {
    background-color: $active-color;
    color: $white-color;
  }

  &:disabled {
    background-color: #e2e2e2;
    color: $white-color;
  }
}

.form__subtitle {
  position: relative;
}

.form__control-mark::after {
  background-image: url("../../images/icons/stack.svg#icon-radio");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
}

.form__control-mark--checkbox::after {
  background-image: url("../../images/icons/stack.svg#icon-checkbox");
  width: 42px;
}

.form__input[type="radio"]:checked + .form__control-mark::before {
  background-image: url("../../images/icons/stack.svg#icon-radio-active");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
}

.form__input[type="checkbox"]:checked + .form__control-mark::before {
  background-image: url("../../images/icons/stack.svg#icon-checkbox-active");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 42px;
  height: 24px;
  position: absolute;
}

.form__input[type="radio"]:checked + .form__control-mark::after,
.form__input[type="checkbox"]:checked + .form__control-mark::after {
  display: none;
}

.form__input:disabled + .form__control-mark {
  opacity: 0.1;
}

.form__input:disabled ~ .form__control {
  color: #bdbdbd;
}

.form__control {
  padding-left: 34px;
}

.form__control--checkbox {
  padding-left: 52px;
}

.form__wrapper-input {
  display: flex;
  gap: 44px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 2px;
    background-color: #bdbdbd;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .form__input {
    width: 118px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #9070ec;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.form__input::placeholder {
  padding: 8px 10px;
  text-align: center;
}

.form__input--max::placeholder {
  color: #333333;
}

.form__slider {
  height: 2px;
  margin-bottom: 38px;
}

// sleder

.noUi-connect {
  background-color: #9070ec;
}

.noUi-connects {
  height: 2px;
  background-color: #e2e2e2;
}

.noUi-target {
  padding-top: 11px;
  border: 0;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -10px;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-touch-area {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
  }

  .form__wrapper-input .form__input {
    width: 87px;
  }

  .form__button {
    width: 137px;
    min-height: 40px;
  }

  .form__button-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .form__slider {
    margin-bottom: 33px;
  }

  .form__wrapper-input {
    gap: 48px;
  }

  .form__button--reset {
    margin: 0;
    width: 120px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    grid-template-columns: 1fr;
    padding-top: 5px;
    row-gap: 30px;
    margin: 0;
    grid-row: 4 / -2;
    max-height: 714px;
  }

  .form__button {
    width: 149px;
  }

  .form__button-wrapper {
    padding-top: 10px;
  }

  .form__wrapper-input .form__input {
    width: 134px;
  }

  .form__wrapper-input {
    gap: 50px;
  }
}

