.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
  text-transform: none;
  text-align: left;
}

.form__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  @include list-reset;
}

.form__item {
  margin-bottom: 20px;
}

.form__button {
  background-color: $base-color;
  color: $white-color;
  padding: 8px 20px;
  display: block;
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form__button--reset {
  background-color: $white-color;
  color: $base-color;
  margin-top: 20px;
}

.form__subtitle {
  position: relative;
}

.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #bdbdbd;
  border-radius: 50%;

  &::after {
    background-color: $white-color;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.form__input[type="radio"]:checked + .form__control-mark::before {
  background-image: url("../../images/icons/stack.svg#icon-radio");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
}

.form__input[type="radio"]:checked + .form__control-mark::after {
  display: none;
}

.form__control {
  padding-left: 34px;
}

.form__control--checkbox {
  padding-left: 52px;
}
