.hero {
  min-height: 656px;
}

.hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: none;
  letter-spacing: 0.72px;
}

.hero__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: $base-color;
  letter-spacing: 0.48px;
}

.hero__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 23px;
  text-transform: none;
}

.hero__button {
  background-color: inherit;
  min-height: 656px;
  position: absolute;
  width: 20px;
  z-index: 1;

  &::after {
    background-color: $base-color;
    content: "";
    mask-image: url("../../images/icons/stack.svg#icon-arrow");
    width: 11px;
    display: block;
    height: 20px;
    position: absolute;
    left: 10px;
    transform: translate(-50%, -50%);
  }
}

.hero__button--back::after {
  mask-image: url("../../images/icons/stack.svg#icon-arrow-back");
}

.hero__button--back {
  left: 0;
}

.hero__button--up {
  right: 0;
}

.hero__old-price {
  color: $base-color;
  line-height: 32px;
  margin-right: 2px;
}

.hero__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 15px;
}

.hero__link {
  border-radius: 4px;
  background-color: $base-color;
  color: $white-color;
  padding: 10px 20px;
  text-transform: none;
}

.hero__container {
  padding: 20px;
  padding-bottom: 60px;
  position: absolute;
  display: none;
  width: 320px;
  min-height: 656px;
}

.hero__container--active {
  display: block;
}

.hero__container--flat-white {
  background-color: #f3ebe1;
}

.hero__container--latte {
  background-color: #eae6fc;
}

.hero__container--espresso {
  background-color: #e5e6e8;
}

.hero__button-wrapper {
  position: relative;
}

.hero__transfer {
  display: none;
}

.hero__container-image {
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .hero {
    width: 768px;
  }

  .hero__container {
    position: relative;
    width: 100%;
    padding: 55px 20px 308px;
    min-height: 640px;
  }

  .hero__container-image {
    position: absolute;
    top: 55%;
    left: 19%;
  }

  .hero__title {
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 16px;
    letter-spacing: 1.12px;
  }

  .hero__description {
    font-size: 20px;
    line-height: 32px;
    width: 608px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .hero__button {
    width: 80px;
    min-height: 640px;

    &::after {
      left: 40px;
    }
  }

  .hero__transfer {
    display: block;
  }

  .hero__image {
    width: 476px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: 1440px;
    text-align: left;
  }

  .hero__container-image {
    left: 105px;
    top: 30px;
  }

  .hero__image {
    width: 600px;
  }

  .hero__container {
    padding: 175px 80px 242px 735px;
    min-height: 714px;
  }

  .hero__description {
    margin: 0;
    margin-bottom: 44px;
  }

  .hero__button::after {
    top: 56%;
  }
}
