.hero {
  background-color: #f3ebe1;
  display: flex;
}

.hero__text {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: none;
}

.hero__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.hero__button {
  background-color: inherit;
  min-height: 656px;
  position: relative;
  width: 20px;

  &::after {
    background-color: $base-color;
    content: "";
    mask-image: url("../../images/icons/stack.svg#icon-arrow");
    width: 11px;
    display: block;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero__button--back::after {
  mask-image: url("../../images/icons/stack.svg#icon-arrow-back");
}

.hero__old-price {
  color: $base-color;
  line-height: 32px;
  margin-right: 6px;
}

.hero__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 20px;
}

.hero__link {
  border-radius: 4px;
  background-color: $base-color;
  color: $white-color;
  padding: 8px 20px;
  text-transform: none;
}

.hero__wrapper {
  margin-bottom: 60px;
}
