.logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  height: 36px;
}

.logo__text,
.logo__description {
  display: none;
}

.logo__text--footer {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .logo__image {
    height: 36px;
  }

  .logo__text,
  .logo__text--footer-tablet {
    display: block;
  }


  .logo__text--header {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__text--header,
  .logo__description {
    display: block;
  }
}
