.logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  height: 36px;
}

.logo__text,
.logo__description {
  display: none;
}

.logo__text--footer {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .logo__image {
    height: 36px;
  }

  .logo__text {
    display: inherit;
  }


  .logo__text--header {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__text--header {
    display: block;
  }

  .logo__description {
    display: block;
    margin: 0;
    padding: 24px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 126px;
    text-transform: none;
    margin-left: 20px;
    text-align: left;
  }
}
