.main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-header__logo {
  padding: 12px 20px;
  max-height: 60px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-right: 20px;
  }

  .main-header__logo {
    padding: 22px 20px;
    max-height: 80px;
  }
}
