.main-footer {
  padding: 0 20px;
}

.main-footer__wrapper {
  display: flex;
  gap: 38px;
  padding: 20px 0;
  width: 280px;
}

.main-footer__social-list {
  @include list-reset;
  min-width: 160px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.main-footer__social-link {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  padding: 10px;

  &::after {
    content: "";
    background-color: #bdbdbd;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-footer__social-link--vk::after {
  mask-image: url("../../images/icons/stack.svg#icon-vk");
}

.main-footer__social-link--pinterest::after {
  mask-image: url("../../images/icons/stack.svg#icon-pinterest");
}

.main-footer__social-link--ok::after {
  mask-image: url("../../images/icons/stack.svg#icon-ok");
}

.main-footer__list {
  @include list-reset;
  text-align: left;
}

.main-footer__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
  color: $base-color;
  margin: 0;
  margin-bottom: 8px;
  text-transform: none;

  &--contacts {
    margin-bottom: 16px;
  }
}

.main-footer__link {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  padding: 8px 0;
  text-transform: uppercase;
}

.main-footer__link--contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  padding-left: 19px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#icon-phone");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 16px;
    display: block;
    width: 13px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-50%, -50%);
  }
}

.main-footer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  margin: 0;
}

.main-footer__description--address {
  position: relative;
  padding-left: 19px;
  margin-bottom: 12px;

  &::before {
    content: "";
    background-image: url("../../images/icons/stack.svg#icon-address");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 16px;
    display: block;
    width: 13px;
    height: 16px;
    position: absolute;
    top: 28%;
    left: 2%;
    transform: translate(-50%, -50%);
  }
}

.main-footer__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0;
  padding-bottom: 21px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #f0ebff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:last-of-type::after {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #f0ebff;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-footer__logo {
  display: flex;
  gap: 6px;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 40px 20px;
  }

  .main-footer__wrapper {
    padding: 0;
    width: 728px;
    justify-content: space-between;
  }

  .main-footer__logo {
    width: 170px;
  }

  .main-footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .main-footer__item {
    padding: 30px 0;

    &::before,
    &:last-of-type::after {
      display: none;
    }
  }

  .main-footer__description--address::before {
    top: 15%;
    left: 3%;
  }

  .main-footer__link--contacts::before {
    left: 3%;
  }
}
