.map__container {
  position: relative;

  &::after {
    content: "";
    background-image: url("../../images/icons/stack.svg#icon-map");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px 50px;
    display: block;
    width: 38px;
    height: 50px;
    position: absolute;
    top: 49%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}
