.map {
  height: 420px;
}

.map__container {
  position: relative;

  &::after {
    content: "";
    background-image: url("../../images/icons/stack.svg#icon-map");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px 50px;
    display: block;
    width: 38px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet-width) {
  .map__container::after {
    left: 52%;
  }

  .map {
    height: 480px;
  }

  .map__image {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .map__image {
    width: 1440px;
  }

  .map {
    height: 540px;
  }

  .map__container::after {
    left: 51%;
  }
}
