.nav-list {
  @include list-reset;
}

.nav-list__item {
  min-height: 57px;

  &:first-child .nav-list__link {
    border-top: 1px solid #f0ebff;
  }
}

.nav-list__link {
  padding: 20px;
  display: block;
  border-bottom: 1px solid #f0ebff;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .nav-list {
    max-width: 399px;
  }

  .nav-list__link,
  .nav-list__item:first-child .nav-list__link {
    border: 0;
  }

  .nav-list__link {
    padding: 32px 21px;
  }

  .nav-list__link--current {
    position: relative;
    padding-left: 22px;

    &::after {
      position: absolute;
      bottom: 0;
      height: 2px;
      left: 0;
      right: 0;
      background-color: $base-color;
      content: "";
    }
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    max-width: 460px;
    gap: 20px;
  }
}
