.pagination__list {
  @include list-reset;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.pagination__item {
  background-color: $white-color;
  position: relative;
}

.pagination__link {
  padding: 8px;
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $white-color;
  }

  &:active {
    background-color: $active-color;
    color: $white-color;
  }

  &:disabled {
    background-color: #e2e2e2;
    color: $white-color;
  }
}

.pagination__link--current {
  font-weight: 600;
  color: #333333;
  background-color: #f8f8f8;
}

.pagination__link--arrow::after {
  background-color: $base-color;
  content: "";
  width: 6px;
  display: block;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination__link--arrow {
  &:hover::after,
  &:focus::after,
  &:active::after,
  &:disabled::after {
    background-color: $white-color;
  }
}

.pagination__link--arrow-back::after {
  mask-image: url("../../images/icons/stack.svg#icon-pagination-back");
}

.pagination__link--arrow-up::after {
  mask-image: url("../../images/icons/stack.svg#icon-pagination-up");
}

.pagination__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .pagination__list {
    width: 395px;
    margin-left: auto;
  }

  .pagination__text {
    display: block;
  }

  .pagination__link--arrow {
    padding: 8px 20px;
    width: 91px;
    text-transform: none;
    color: $base-color;

    &::after {
      display: none;
    }
  }

  .pagination__link--arrow-up {
    width: 104px;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    grid-row: -2 / -1;
    grid-column: 2 / -1;
  }
}
