.user-list {
  @include list-reset;
  width: 180px;
  justify-content: flex-end;
}

.user-list__link {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  padding: 22px;

  &::after {
    content: "";
    background-color: #333333;
    width: 16px;
    display: block;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::after,
  &:focus::after {
    background-color: $hover-color;
  }

  &:active {
    background-color: #f0ebff;
  }
}

.user-list__link--account::after {
  mask-image: url("../../images/icons/stack.svg#icon-user");
}

.user-list__link--basket::after {
  mask-image: url("../../images/icons/stack.svg#icon-basket");
}

.user-list__text {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-list__link {
    padding: 32px 22px;
    height: 80px;

    &:hover .user-list__text,
    &:focus .user-list__text {
      color: $hover-color;
    }

    &:active::after {
      background-color: $base-color;
    }

    &:active .user-list__text {
      color: $hover-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 263px;
    gap: 20px;
  }

  .user-list__text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.24px;
    color: #333333;
  }

  .user-list__link {
    text-decoration: none;
    padding: 32px 20px 32px 44px;
    width: 112px;

    &::after {
      left: 25%;
    }
  }

  .user-list__link--basket {
    width: 129px;

    &::after {
      left: 22%;
    }
  }
}
