/* здесь используйте глобальные переменные */

$base-color: #7859cf;
$white-color: #ffffff;
$main-font: "Montserrat", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$hover-color: #669ec0;
$active-color: #5496bd;
